article {
    background-color: rgb(203, 202, 202);
    height: 550px;
    width: 1200px;
}

article>aside {
    float: left;
}

article>aside>ul {
    list-style: none;
    box-shadow: 0 0 3px gray;
    margin: 5px 5px;
    padding: 0px;
    width: 250px;
    border-top: solid 1px rgb(255, 55, 88);
    background-color: white;
}

article>aside>ul>li {
    background: url('pic/hinhtron.jpg') no-repeat;
    padding: 10px 40px;
    border-bottom: solid pink thin;
}

article>aside>ul>li:hover>a {
    color: black;
}

article>aside>ul>li>a {
    text-decoration: none;
    color: rgb(255, 55, 88);
}

article>main {
    float: left;
    height: 500px;
}

article>.main>.product {
    float: left;
    width: 23%;
    margin: 0 10px;
    text-align: center;
}

article>.main>.product p {
    font-weight: bolder;
}

article>.main>.product .img {
    background-image: url('pic/sp4.webp');
    background-size: 100% 100%;
    margin: 10px;
    max-width: 100%;
    height: 300px;
    display: block;
}

article>.main>.product button {
    line-height: 40px;
    border: none;
    box-shadow: 0 0 5px gray;
}

article>.main>.product button a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

article>.main>.product .num-count {
    display: inline-block;
    width: 100px;
    margin: 10px 30px;
    text-align: center;
    border: 1px solid gray;
}

article>.main>.product .num-count * {
    display: inline-block;
    color: gray;
}

article>.main>.product .num-count p {
    width: 50px;
    height: 27px;
    margin: 0px;
    padding-top: 7px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    color: black;
    background-color: white;
}

article>.main>.product button:hover {
    background-color: rgb(255, 55, 88); 
    border: none; 
    line-height: 40px;
}

article>.main>.product> .img:hover {
    background-image: url('pic/1.jpg');
}

/* article>.main>.product>button>.icon {
    background-image: url(pic/hinhtron.jpg) no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
} */