.form-group {
    width: 360px;
    font-weight: bold;
    font-variant: small-caps;
}

.form-group > label {
    font-variant: small-caps;
    font-weight: bold;
}

input[type=text] {
    width: 356px;
    padding: 0px;
}

select {
    width: 360px;
}

input[type=radio] {
    font-weight: bold;
}