table {
    background-color: rgb(87, 161, 211);
    text-align: center;
}

tr > th {
    background-color: rgb(43, 101, 177);
    color: white;
    font-weight: lighter;
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: rgb(233, 233, 233);
}

tr > th, td {
    padding: 10px 15px;
    border: thin;
    font-size: 15px;
}
