body {
    margin: 0px;
    padding: 0px;
}

.promo_bar {
    text-align: center;
    color: white;
    background-color: black;
    line-height: 34px;
}

.promo_bar button {
    margin: 0px 300px;
}

.menu {
    position: relative;
    height: 46px;
}

.menu .menu-left {
    position: absolute;
    left: 0px;
    width: 1000px;
    height: 46px;
}

.menu-left .logo {
    width: 200px;
    height: 46px;
    text-align: center;
    display: inline-block;
}

.menu-left .logo > a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    line-height: 46px;
    height: 46px;
}

.menu-left nav {
    display: inline-block;
    border: 0px;
}

.menu-left nav > ul {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px auto;
}

.menu-left nav > ul > li {
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 46px;
    height: 46px;
}

.menu-left nav > ul > li:hover {
    text-decoration: underline;
    background-color: rgb(235, 235, 235);
}

.menu-left nav > ul > li > a {
    display: block;
    text-decoration: none;
    color: black;
    line-height: 46px;
    height: 46px;
}

.menu .button {
    position: absolute;
    right: 10px;
    top: 9px;
}
.menu .button > * {
    margin: 0 5px;
}

.fa-search, .fa-cart-shopping {
    padding: 5px;
}

.background {
    background-image: url(pic/background.webp);
    height: 787px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 130%;
}

.promo_bonus {
    text-align: center;
    background-color: rgb(140, 172, 165);
    line-height: 29px;
}

.promo_bonus > p {
    display: inline-block;
    color: white;
    margin-right: 45px;
    margin-left: 7px;
    font-weight: 600;
    letter-spacing: 1px;
}

.promo_bonus > i {
    color: white;
}

article {
    text-align: center;
}

article > .article-left, .article-right {
    width: 45%;
    height: 700px;
    display: inline-block;
    margin: 20px;
}

article > .article-left {
    background-image: url(pic/article-left.jfif);
    
}

article > .article-right {
    background-image: url(pic/article-right.jfif);
    background-position: 30px;
    
}

article > .article-left, .article-right > h3 {
    text-align: left;
}

footer {
    color: white;
    background-color: black;
    height: 587px;
}

footer > .info_end {
    height: 85%;
    text-align: center;
}

footer > .info_end > .contact, .story, .collab, .support, .subscribe {
    display: inline-block;
    width: 10%;
    text-align: left;
    margin: 50px 70px;
}

footer > .info_end > .contact > img {
    width: 85px;
    height: 70px;
}


footer > .info_end > .contact > i {
    margin: 0 7px;
}

footer > .info_end > .story, .collab, .support {
    line-height: 50px;
}

footer > .copyright {
    height: 15%;
    font-size: 13px;
    margin-left: 70px;
}