body {
    margin: 0px;
    padding: 0px;
}

.promo_bar {
    text-align: center;
    color: white;
    background-color: rgb(99, 97, 97);
    line-height: 34px;
    height: 34px;
}

.menu {
    position: relative;
    height: 46px;
}

.menu .menu-left {
    position: absolute;
    left: 0px;
    width: 1000px;
    height: 46px;
}

.menu-left .logo {
    width: 200px;
    height: 46px;
    text-align: center;
    float: left;
}

.menu-left .logo>a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    line-height: 46px;
    height: 46px;
}

.menu-left .nav {
    display: inline-block;
    border: 0px;
}

.menu-left .nav>ul {
    list-style: none;
    padding: 0px;
    margin: 0px auto;
}

.menu-left .nav>ul>li {
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 46px;
    height: 46px;
}

.menu-left .nav>ul>li:hover {
    background-color: rgb(225, 247, 248);
}

.menu-left .nav>ul>li>a {
    display: block;
    text-decoration: none;
    color: black;
    line-height: 46px;
    height: 46px;
}

.menu-left>.nav>ul ul {
    position: absolute;
    padding: 0px;
    margin: 0px;
    list-style: none;
    background-color: rgb(225, 247, 248);
    display: none;
}

.menu-left .nav>ul>li:hover>ul {
    display: block;
}

.menu-left>.nav>ul ul>li {
    text-align: left;
}

.menu-left>.nav>ul ul>li:hover {
    background-color: white;
}

.menu-left>.nav>ul ul>li>a {
    text-decoration: none;
    color: black;
    display: block;
    width: 218px;
    height: 56px;
    padding: 5px 20px;
}

.menu .button {
    position: absolute;
    right: 0;
    top: 0;
    height: 46px;
}

.menu .button img {
    margin-top: 10px;
    margin-right: 10px;
}

.fa-user,
.fa-search,
.fa-cart-shopping {
    padding: 5px;
}

.background {
    background-image: url(pic/background-5.jpeg);
    height: 737px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 150%;
}

.promo_bonus {
    text-align: center;
    background-color: rgb(172, 196, 190);
    line-height: 29px;
}

.promo_bonus>p {
    display: inline-block;
    color: white;
    margin-right: 45px;
    margin-left: 7px;
    font-weight: 600;
    letter-spacing: 1px;
}

.promo_bonus>i {
    color: white;
}

.background-product {
    width: 1800px;
    background-color: pink;
}

.best-seller1, .best-seller2 {
    max-width: 1900px;
    height: 700px;
}

.best-seller1>h1 {
    font-size: 50px;
    text-align: center;
}

.column {
    width: 20%;
    float: left;
    margin: 20px 10px;
    margin-left: 65px;
    background-color: white;
    border: 3px solid #f6f6f6;
}

.column:hover {
    border: 3px solid pink;
}

.san-pham {
    padding: 10px;
    margin: 5px;
    text-align: center;
    height: 550px;
}

.san-pham img {
    max-width: 100%;
    height: 350px;
    padding-bottom: 20px;
}

.san-pham .ten {
    font-size: 23px;
    font-variant: small-caps;
    color: black;
}

.san-pham .gia {
    color: rgb(244, 121, 141);
    font-weight: 900;
    font-size: 23px;
    margin-top: 15px;
}

.best-seller2 {
    background-color: rgb(252, 242, 245);
    margin-top: 20px;
}

footer {
    color: white;
    background-color: black;
    height: 650px;
    clear: both;
}

footer>.info_end {
    height: 85%;
    text-align: center;
}

footer>.info_end>.contact,
.story,
.collab,
.support,
.subscribe {
    float: left;
    width: 10%;
    text-align: left;
    margin: 50px 80px;
}

footer>.info_end>.contact {
    margin-left: 120px;
    width: 100px;
}

footer>.info_end>.contact>i {
    margin: 5px;
}

footer>.info_end>.contact>img {
    width: 85px;
    height: 70px;
}

footer>.info_end>.contact>i>a {
    width: 5px;
}

footer>.info_end>.story,
.collab,
.support {
    line-height: 40px;
}

footer>.info_end>.support {
    width: 250px;
}

footer>.info_end>.subscribe {
    width: 300px;
    line-height: 30px;
}

footer>.info_end>.subscribe>strong {
    line-height: 40px;
}

footer h4 {
    margin: 0;
    font-size: 17px;
}

footer .subscribe input {
    padding: 12px;
    margin: 10px;
    margin-left: 0px;
    color: white;
    background-color: rgb(43, 42, 42);
    border: 1px solid white;
    font-size: 15px;
}

footer .subscribe label {
    margin-right: 5px;
}

footer .subscribe button {
    padding: 12px;
    width: 300px;
    font-size: 15px;
    color: white;
    background-color: black;
    border: 1px solid white;
    margin-top: 10px;
}

footer .subscribe button:hover {
    box-shadow: 4px 4px gray;
}

footer>.copyright {
    height: 15px;
    font-size: 13px;
    margin-left: 70px;
    clear: left;
}