body {
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container > header {
    background: url('pic/fpoly1.png') no-repeat;
    position: relative;
    height: 450px;
}

.container > header > h2 {
    position: absolute;
    color: white;
    font-variant: small-caps;
    text-shadow: 0 0 3px orangered;
    bottom: 20px;
    left: 20px;
    margin: 0px;
    font-size: 38px;
}

.container > nav > ul {
    list-style: none;
    margin: 0px;
    background-color: rgb(255, 145, 0);
    padding: 0px;
    text-align: center;
}

.container > nav > ul > li {
    display: inline-block;
    position: relative;
}

.container > nav > ul > li > a {
    display: block;
    font-variant: small-caps;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 0 10px;
    line-height: 40px;
}

.container > nav > ul > li > a:hover {
    text-shadow: 0 0 3px red;
}

.container > nav > ul ul {
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 150px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}

.container > nav > ul ul a {
    display: block;
    line-height: 30px;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 18px;
    padding: 0 10px;
    color: rgb(255, 145, 0);
}

.container > nav > ul > li:hover > ul {
    display: block;

}

.container > nav > ul ul a:hover {
    background-color: rgb(255, 145, 0);
    color: white;
    text-shadow: 0 0 3px red;
    padding: 0 10px;
}

.container > aside {
    float: right;
}

.container > aside > ul {
    list-style: none;
    box-shadow: 0 0 3px gray;
    margin: 5px 5px;
    padding: 0px;
    width: 250px;
}

.container > aside > ul > li {
    background: url('pic/hinhtron.jpg') no-repeat;
    padding: 10px 40px;
    border-bottom: dotted orange thin;
}

.container > aside > ul > li > a {
    text-decoration: none;
    font-variant: small-caps;
    color: orange;
}

.container > aside > ul > li:hover {
    background: url('pic/muiten.jpg') no-repeat orange;
    background-position-y: 70%;
    border-bottom: white;
}

.container > aside > ul > li:hover > a {
    color: white;
    font-weight: bold;
}

.container > footer {
    clear: both;
    border-top: double orange thick;
    text-align: center;
    font-variant: small-caps;
    line-height: 40px;
    background-color: lightcyan;
}