body {
    margin: 0px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container > header {
    background: url('TBT06810.jpg') no-repeat;
    background-size: 100% 200%;
    background-position: 50%;
    height: 300px;
    position: relative;
}

.container .info {
    position: absolute;
    bottom: 20px;
    left: 15px;
}

.container .info > h2 {
    color: white;
    font-variant: small-caps;
    font-size: 35px;
    text-shadow: 0 0 10px orangered;
    margin: 15px;
}

.container .info > h4 {
    color: orangered;
    letter-spacing: 5px;
    border-top: solid orangered thin;
    padding-top: 15px;
    margin-top: 5px;
}

.container .log {
    position: absolute;
    top: 0;
    right: 0;
    background-color: orangered;
    line-height: 35px;
    border-bottom-left-radius: 30px;
    padding: 7px 15px;
}

.container .log > a {
    color: white;
    text-decoration: none;
    font-variant: small-caps;
    padding: 15px 5px;
    font-size: 17px;    
}

.container > nav {
    line-height: 40px;
    background-color: orangered;
    font-variant: small-caps;
    position: relative;
}

.container > nav > .menu > a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 17px;
}

.container > nav > .language {
    position: absolute;
    right: 0px;
    top: 0px;
}

.container > nav > .language > a {
    color: white;
    font-variant: small-caps;
    margin: 0px 10px;
    font-size: 17px;
    text-decoration: none;
}
